.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}
.p-25 {
    padding: 25%;
}

.p-t-25 {
    padding-top: 25%;
}

.p-b-25 {
    padding-bottom: 25%;
}

.p-l-25 {
    padding-left: 25%;
}

.p-r-25 {
    padding-right: 25%!important;
}

.m-5 {
    margin: 5%;
}

.m-t-5 {
    margin-top: 5%;
}

.m-b-5 {
    margin-bottom: 5%;
}

.m-l-5 {
    margin-left: 5%;
}

.m-r-5 {
    margin-right: 5%;
}
.m-5 {
    margin: 5%;
}

.m-t-5 {
    margin-top: 5%;
}

.m-b-5 {
    margin-bottom: 5%;
}

.m-l-5 {
    margin-left: 5%;
}

.m-r-5 {
    margin-right: 5%;
}