.individual {
    width: 50px;
    height: 70px;
    border: dashed;
    display: inline-block;
}

.couple {
    width: 150px;
    display: inline-block;
}

.gen { 
    width: 99%;
    margin: 20px auto;
}

#tree {
    width:75%;
    margin: auto;
}

#gen-4 .couple {
   margin: auto 0.8%; 
}

#gen-3 .couple {
    margin: auto 7%; 
}

#gen-2 .couple {
    margin: auto 19%;
}

#gen-1 .couple {
    margin: auto 45%;
}

#gen-0 .individual {
    margin: auto 2%;
}
#gen-0 {
    margin: auto 25%;
}

hr {
    width:50%;
}